<h1>bootstrap-test</h1>
<form>
  <div id='jquery-test'></div>
  <div id='react-test'></div>
  <div class="form-group">
    <label for="exampleFormControlInput1" class="test">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <button type="button" class="btn btn-outline-primary">Primary</button>
</form>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<%= javascript_include_tag asset_bundle_path('test.js') %>
<%= javascript_include_tag asset_bundle_path('jqueryTest.js') %>
<%= javascript_include_tag asset_bundle_path('index.js') %>